<!-- player.vtl -->
<link rel="stylesheet" href="/css/styles.css">
<table>
  <tr>
    <th>Player Name</th>
    <th>Date Joined YDY</th>
    <th>User ID</th>
    <th>User Level</th>
    <th>User Experience</th>
    <!-- <th>Remove</th> -->
  </tr>
  <tr>
    <td>$player.getUserName()</td>
    <td>$player.getCreatedAsString()</td>
    <td>$player.getUserId()</td>
    <td>$player.getUserLevel()</td>
    <td>$player.getUserExperience()</td>
  </tr>
</table>


<!-- player.vtl -->
