<!-- begin task.vtl -->
<div class="col-md-2">
  <!-- alignment -->
</div>

<div class="center col-md-6">
<h2>$task.getName()</h2>
<br>
<h4>Created on: $task.getCreated()</h4>
<br>
<h4>Due: $task.getDue()</h4> <!-- TODO: change this and getcreated to a new method that parses info into readable dates -->
<br>
<h4>Task list: <a href="/tasklists/$task.getTask_list_id()">$task.getAssociatedTaskListName()</a></h4>
</div>

<div class="col-md-2">
  <!-- alignment -->
</div>
<!-- end task.vtl -->
